.ui.container {
  display: block;
  max-width: 100%;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .ui.container {
    width: auto;
    margin-left: 1em;
    margin-right: 1em;
  }
  .ui.grid.container {
    width: auto;
  }
  .ui.relaxed.grid.container {
    width: auto;
  }
  .ui.very.relaxed.grid.container {
    width: auto;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ui.container {
    width: 723px;
    margin-left: auto;
    margin-right: auto;
  }
  .ui.grid.container {
    width: calc( 723px  +  2rem );
  }
  .ui.relaxed.grid.container {
    width: calc( 723px  +  3rem );
  }
  .ui.very.relaxed.grid.container {
    width: calc( 723px  +  5rem );
  }
}

/* Small Monitor */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .ui.container {
    width: 933px;
    margin-left: auto;
    margin-right: auto;
  }
  .ui.grid.container {
    width: calc( 933px  +  2rem );
  }
  .ui.relaxed.grid.container {
    width: calc( 933px  +  3rem );
  }
  .ui.very.relaxed.grid.container {
    width: calc( 933px  +  5rem );
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) {
  .ui.container {
    width: 1127px;
    margin-left: auto;
    margin-right: auto;
  }
  .ui.grid.container {
    width: calc( 1127px  +  2rem );
  }
  .ui.relaxed.grid.container {
    width: calc( 1127px  +  3rem );
  }
  .ui.very.relaxed.grid.container {
    width: calc( 1127px  +  5rem );
  }
}

/* Text Container */
.ui.text.container {
  font-family: 'Prompt', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  max-width: 700px;
  line-height: 1.5;
}
.ui.text.container {
  font-size: 1.14285714rem;
}

/* Fluid */
.ui.fluid.container {
  width: 100%;
}

.ui[class*="left aligned"].container {
  text-align: left;
}
.ui[class*="center aligned"].container {
  text-align: center;
}
.ui[class*="right aligned"].container {
  text-align: right;
}
.ui.justified.container {
  text-align: justify;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
