<template>
  <base-container>
    <bread-crumb :links="links" />
    <wizard :step="state" :steps="steps">
      <component
        :is="openStateComponent"
        :farms="userFarms"
        :selected-farm-id.sync="auctionData.farmId"
        :selected-farm-name.sync="selectedFarmName"
        :expected-harvest-output.sync="auctionData.expectedHarvestOutput"
        :expected-harvest-date-time-start.sync="auctionData.expectedHarvestDateTimeStart"
        :disabled-date="disabledDate"
        :expected-harvest-date-time-end.sync="auctionData.expectedHarvestDateTimeEnd"
        :is-collect-service.sync="auctionData.isCollectService"
        :extra-condition.sync="auctionData.extraCondition"
        :upload-media-list="medias"
        :price-start.sync="auctionData.priceStart"
        :date-time-start.sync="auctionData.dateTimeStart"
        :date-time-end.sync="auctionData.dateTimeEnd"
        :otp.sync="otp"
        :otp-ref="createUserAuctionOtpResult && createUserAuctionOtpResult.ref || ''"
        :user="user"
        :before-upload="onBeforeUpload"
        :remove-upload="onRemoveUpload"
        @changeFarmMedia="onChangeFarmMedia"
        @nextState="onNextState"
        @previousState="onPreviousState"
        @submitCreateAuction="onSubmitCreateAuction"
        @requestOtp="onRequestOtp"
        @onConfirmAuction="onConfirmAuction"
      />
    </wizard>
  </base-container>
</template>

<script>
import { call, get } from 'vuex-pathify'
import { mapWaitingActions } from 'vue-wait'
import moment from 'moment'
import BreadCrumb from '~/components/base-components/bread-crumb.vue'
import Wizard from '~/components/base-components/wizard/wizard.vue'

export default {
  name: 'AuctionEditSuccessPage',
  layout: 'gray-background',
  middleware: ['authenticated', 'required-bidding-auction'],
  components: {
    BreadCrumb,
    Wizard
  },
  computed: {
    userFarms: get('auction/userFarms'),
    createUserAuctionResult: get('auction/createUserAuctionResult'),
    createUserAuctionOtpResult: get('auction/createUserAuctionOtpResult'),
    user: get('auth/user'),
    openStateComponent () {
      return this.steps[this.state].component
    }
  },
  data () {
    return {
      state: 0,
      selectedFarmName: undefined,
      auctionData: {
        farmId: null,
        expectedHarvestOutput: null,
        expectedHarvestDateTimeStart: null,
        expectedHarvestDateTimeEnd: null,
        isCollectService: false,
        extraCondition: null,
        priceStart: null,
        dateTimeStart: null,
        dateTimeEnd: null
      },
      employmentMediaList: [],
      removeMediaIds: [],
      medias: [],
      otp: undefined,
      maxState: 3,
      links: [
        {
          'title': 'แก้ไขการประมูล',
          'link': ''
        }
      ],
      steps: [
        {
          state: 0,
          title: 'เลือกฟาร์ม',
          component: require('~/components/auction-page/open/farm-selector.vue').default
        },
        {
          state: 1,
          title: 'ลงรายละเอียดสินค้า',
          component: require('~/components/auction-page/open/regist-data.vue').default
        },
        {
          state: 2,
          title: 'ลงรายละเอียดการประมูล',
          component: require('~/components/auction-page/open/regist-auction.vue').default
        },
        {
          state: 3,
          title: 'ยืนยันการเปิดประมูล',
          component: require('~/components/auction-page/open/confirm-auction.vue').default
        }
      ]
    }
  },
  asyncData ({ store }) {
    return {
      biddingAuction: store.state.auction.biddingAuction
    }
  },
  async fetch ({ store }) {
    try {
      await store.dispatch('auction/fetchUserFarms')
      await store.dispatch('auth/fetchMe')
    } catch (e) {

    }
  },
  async mounted () {
    try {
      await this.fetchUserAuctionById(this.$route.params.id)
      this.auctionData = {
        farmId: (this.biddingAuction && this.biddingAuction.farm && +this.biddingAuction.farm.id) || 0,
        expectedHarvestOutput: (this.biddingAuction && this.biddingAuction.expectedHarvestOutput) || 0,
        expectedHarvestDateTimeStart: (this.biddingAuction && this.biddingAuction.expectedHarvestDateTimeStart) || null,
        expectedHarvestDateTimeEnd: (this.biddingAuction && this.biddingAuction.expectedHarvestDateTimeEnd) || null,
        isCollectService: (this.biddingAuction && this.biddingAuction.isCollectService) || false,
        extraCondition: (this.biddingAuction && this.biddingAuction.extraCondition) || '',
        priceStart: (this.biddingAuction && this.biddingAuction.priceStart) || 0,
        dateTimeStart: (this.biddingAuction && this.biddingAuction.dateTimeStart) || null,
        dateTimeEnd: (this.biddingAuction && this.biddingAuction.dateTimeEnd) || null
      }
      const resp = await this.fetchAuctionMedias({
        auctionBaseId: this.$route.params.id
      })
      const { results } = resp
      if (results && results.length > 0) {
        this.medias = results.map((media) => {
          const splitPath = media.path.split('/')
          return {
            mediaId: media.id,
            uid: media.id,
            name: splitPath[splitPath.length - 1],
            status: 'done',
            url: media.path
          }
        })
      }
    } catch (e) {
      this.$router.push('/auction')
    }
  },
  methods: {
    ...call('auction', [
      'updateUserAuction',
      'createUserAuctionMedia',
      'removeUserAuctionMedia',
      'createUserAuctionOtp',
      'updateUserAuctionOtp',
      'fetchUserAuctionById',
      'fetchAuctionMedias'
    ]),
    ...mapWaitingActions('auction', {
      updateUserAuction: 'base loading',
      createUserAuctionMedia: 'base loading',
      removeUserAuctionMedia: 'base loading',
      createUserAuctionOtp: 'base loading',
      updateUserAuctionOtp: 'base loading',
      fetchUserAuctionById: 'base loading',
      fetchAuctionMedias: 'base loading'
    }),
    disabledDate (current, end) {
      return moment(current).diff(end, 'days') > 0
    },
    transformMediaFormData (id, image) {
      const formData = new FormData()
      formData.append('path', image)
      formData.append('auction_base', id)
      return formData
    },
    onChangeFarmMedia ({ fileList }) {
      this.medias = fileList
    },
    onBeforeUpload (file) {
      this.employmentMediaList.push(file)
    },
    onRemoveUpload (file) {
      if (file.mediaId) {
        this.removeMediaIds.push(file.mediaId)
      }
    },
    requestUploadMedia (id, mediaFiles) {
      return mediaFiles.map(
        file => Promise.resolve(
          this.createUserAuctionMedia({ id, formData: this.transformMediaFormData(id, file) })
        )
      )
    },
    requestRemoveMedia (removeIds) {
      return removeIds.map(
        mediaId => Promise.resolve(
          this.removeUserAuctionMedia({ mediaId })
        )
      )
    },
    onNextState () {
      if (this.state < this.maxState) { this.state++ }
    },
    onPreviousState () {
      if (this.state > 0) { this.state-- }
    },
    async onSubmitCreateAuction () {
      try {
        await this.createUserAuctionOtp({
          auctionBase: this.$route.params.id
        })
        this.onNextState()
      } catch (error) {
        this.$notification.error({
          message: 'Error',
          description: 'เกิดข้อผิดพลาด กรุณาลองใหม่อีกครั้ง'
        })
      }
    },
    async onRequestOtp () {
      try {
        await this.createUserAuctionOtp({
          auctionBase: this.$route.params.id
        })
      } catch (error) {
        this.$notification.error({
          message: 'Error',
          description: 'ไม่สามารถทำการขอ OTP ได้'
        })
      }
    },
    async onConfirmAuction () {
      const hasEmploymentMedia = this.employmentMediaList.length > 0
      const hasRemoveMedia = this.removeMediaIds.length > 0
      try {
        const auctionData = {
          ...this.auctionData,
          tempRef: (this.createUserAuctionOtpResult && this.createUserAuctionOtpResult.ref) || '',
          tempOtp: this.otp || '',
          farm: this.auctionData.farmId,
          dateTimeStart: moment(this.auctionData.dateTimeStart).set({ hour: 0, minute: 0, second: 0, millisecond: 0 }).format(),
          dateTimeEnd: moment(this.auctionData.dateTimeEnd).set({ hour: 0, minute: 0, second: 0, millisecond: 0 }).format(),
          expectedHarvestDateTimeStart: moment(this.auctionData.expectedHarvestDateTimeStart).set({ hour: 0, minute: 0, second: 0, millisecond: 0 }).format(),
          expectedHarvestDateTimeEnd: moment(this.auctionData.expectedHarvestDateTimeEnd).set({ hour: 0, minute: 0, second: 0, millisecond: 0 }).format(),
          priceCurrent: this.auctionData.priceStart
        }
        console.log('AuctionData', auctionData)
        // await this.updateUserAuction({
        //   id: this.$route.params.id,
        //   data: auctionData
        // })

        const promises = []
        promises.push(this.updateUserAuction({
          id: this.$route.params.id,
          data: auctionData
        }))
        if (hasEmploymentMedia) { promises.push(...this.requestUploadMedia(this.$route.params.id, this.employmentMediaList)) }
        if (hasRemoveMedia) { promises.push(...this.requestRemoveMedia(this.removeMediaIds)) }
        await Promise.all(promises)
        // if (this.medias.length > 0) {
        //   await Promise.all(
        //     this.requestUploadMedia(this.createUserAuctionResult.id, this.medias.map(media => media.originFileObj))
        //   )
        // }
        this.$router.push({ name: 'auction-open-success' })
      } catch (error) {
        console.log(error)
        let errorMessage = 'เกิดข้อผิดพลาด'
        const { response } = error
        const { data } = response
        if (data && data.length > 0) {
          if (data[0] === 'self auction') {
            errorMessage = 'ไม่สามารถประมูลให้ตัวเองได้'
          } else if (data[0] === 'price lower than current price') {
            errorMessage = 'ราคาที่ประมูลต้องมากกว่าราคาเดิม'
          } else if (data[0] === 'invalid guarantee') {
            errorMessage = 'วงเงินการันตี ของท่านไม่เพียงพอ'
          } else if (data[0] === 'invalid otp') {
            errorMessage = 'รหัส OTP ผิดพลาด'
          }
        }
        this.$notification.error({
          message: 'Error',
          description: errorMessage
        })
      }
    }
  }
}
</script>
