<template>
  <div id="registData">
    <div class="header-container">
      <div class="title-container">
        <div class="title">
          <span><label class="farm">Farm : </label><label class="products">{{ selectedFarmName }}</label></span>
        </div>
      </div>
    </div>
    <a-form layout="horizontal">
      <a-form-item
        label="ผลผลิตที่คาดการณ์(ต้น)"
        :label-col="formItem.labelCol"
        :wrapper-col="formItem.wrapperCol"
        :validate-status="errors.has('expectedHarvestOutput') ? 'error' : ''"
        :help="errors.has('expectedHarvestOutput') ? 'โปรดกรอกผลผลิตคาดการณ์' : ''"
      >
        <a-input
          v-validate="'required|numeric'"
          name="expectedHarvestOutput"
          placeholder="จำนวน (ต้น)"
          :value="expectedHarvestOutput"
          @change="e => onChange('expectedHarvestOutput', e.target.value)"
        />
      </a-form-item>
      <a-form-item
        label="วันที่เริ่มเก็บเกี่ยว"
        :label-col="formItem.labelCol"
        :wrapper-col="formItem.wrapperCol"
        :validate-status="errors.has('expectedHarvestDateTimeStart') ? 'error' : ''"
        :help="errors.has('expectedHarvestDateTimeStart') ? 'โปรดเลือกวันที่เริ่มเก็บเกี่ยว' : ''"
      >
        <a-date-picker
          v-validate="'required'"
          name="expectedHarvestDateTimeStart"
          :disabled-date="current => disabledStartDate(Date.now(), current)"
          :default-value="expectedHarvestDateTimeStart ? moment(expectedHarvestDateTimeStart) : undefined"
          placeholder="เลือกวันที่เริ่มเก็บเกี่ยว"
          @change="moment => onChangeDate('expectedHarvestDateTimeStart', moment)"
        />
      </a-form-item>
      <a-form-item
        label="วันที่เก็บเกี่ยวเสร็จ"
        :label-col="formItem.labelCol"
        :wrapper-col="formItem.wrapperCol"
        :validate-status="errors.has('expectedHarvestDateTimeEnd') ? 'error' : ''"
        :help="errors.has('expectedHarvestDateTimeEnd') ? 'โปรดเลือกวันที่เก็บเกี่ยวเสร็จ' : ''"
      >
        <a-date-picker
          v-validate="'required'"
          name="expectedHarvestDateTimeEnd"
          :disabled="!expectedHarvestDateTimeStart"
          :disabled-date="current => disabledEndDate( expectedHarvestDateTimeStart ? moment(expectedHarvestDateTimeStart) : undefined, current)"
          :default-value="expectedHarvestDateTimeEnd ? moment(expectedHarvestDateTimeEnd) : undefined"
          placeholder="เลือกวันที่เก็บเกี่ยวเสร็จ"
          @change="moment => onChangeDate('expectedHarvestDateTimeEnd', moment)"
        />
      </a-form-item>
      <a-form-item
        label="บริการเก็บเกี่ยว"
        :label-col="formItem.labelCol"
        :wrapper-col="formItem.wrapperCol"
      >
        <a-checkbox
          :value="isCollectService"
          @change="e => onChange('isCollectService', e.target.checked)"
        />
      </a-form-item>
      <a-form-item
        label="บันทึกเพิ่มเติม"
        :label-col="formItem.labelCol"
        :wrapper-col="formItem.wrapperCol"
      >
        <a-textarea
          placeholder="บันทึก"
          :rows="4"
          :value="extraCondition"
          @change="e => onChange('extraCondition', e.target.value)"
        />
      </a-form-item>
      <a-form-item
        label="รูปภาพ"
        :label-col="formItem.labelCol"
        :wrapper-col="formItem.wrapperCol"
      >
        <a-upload
          multiple
          list-type="picture-card"
          :file-list="uploadMediaList"
          :show-upload-list="{ showPreviewIcon: false }"
          :before-upload="beforeUpload"
          :remove="removeUpload"
          @change="e => $emit('changeFarmMedia', e)"
        >
          <div v-if="uploadMediaList.length < 6">
            <a-icon type="plus" />
            <div class="ant-upload-text">
              Upload
            </div>
          </div>
        </a-upload>
      </a-form-item>
      <a-form-item :wrapper-col="{ md: { span: 7, offset: 10 } }">
        <a-button
          class="oa-button is-primary is-invert mg-r-10px"
          size="large"
          @click="onPreviousState"
        >
          ย้อนกลับ
        </a-button>
        <a-button
          class="oa-button is-primary"
          size="large"
          :disabled="errors.any() || !canSubmit"
          @click="onNextState"
        >
          ถัดไป
        </a-button>
      </a-form-item>
    </a-form>
  </div>
</template>

<script>
// import TextInput from '~/components/base-components/input/text-input.vue'
// import CheckboxInput from '~/components/base-components/input/checkbox-input.vue'
// import TextareaInput from '~/components/base-components/input/textarea-input.vue'

export default {
  name: 'RegistData',
  components: {
    // TextInput,
    // CheckboxInput,
    // TextareaInput
  },
  props: {
    selectedFarmName: {
      type: String,
      default: '-'
    },
    expectedHarvestOutput: [String, Number],
    expectedHarvestDateTimeStart: String,
    disabledDate: Function,
    expectedHarvestDateTimeEnd: String,
    isCollectService: Boolean,
    extraCondition: String,
    uploadMediaList: Array,
    beforeUpload: Function,
    removeUpload: Function
  },
  data () {
    return {
      formItem: {
        labelCol: { span: 4, offset: 5 },
        wrapperCol: { span: 8 }
      }
    }
  },
  computed: {
    canSubmit () {
      return this.expectedHarvestOutput && this.expectedHarvestDateTimeStart
    }
  },
  methods: {
    onNextState () {
      this.$emit('nextState')
    },
    onPreviousState () {
      this.$emit('previousState')
    },
    onChange (key, value) {
      this.$emit(`update:${key}`, value)
    },
    onChangeDate (key, moment) {
      this.$emit(`update:${key}`, moment ? moment.format() : moment)
    },
    disabledStartDate (current, startValue) {
      return this.moment(current).diff(startValue, 'days') > 0
    },
    disabledEndDate (current, endValue) {
      return this.moment(endValue).diff(current, 'days') <= 0
    },
    moment: require('moment')
  }
}
</script>

<style lang="scss" scoped>
#registData {
  margin: 0 8px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  .title {
    > span {
      .farm {
        font-size: 18px;
        font-weight: 500;
        color: #424242;
      }
      .products {
        font-size: 18px;
        font-weight: 500;
        color: #FF9300;
      }
    }
  }
}
.body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 10px;
  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
  &.left {
    flex-basis: 50%;
    flex-direction: column;
    @media only screen and (max-width: 768px) {
      width: 100%;
      flex-basis: 100%;
    }
  }
  &.right {
    // background-color: #FF9300;
    flex-basis: 50%;
    margin-left: 30px;
    width: 100%;
    min-height: 285px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    @media only screen and (max-width: 768px) {
      width: 100%;
      flex-basis: 100%;
      margin: 0 10px;
    }
    .form {
      width: 100%;
    }
  }
}
.form {
  margin-top: 15px;
}
.form-buttons {
  // display: flex;
  // justify-content: flex-end;
  // align-items: flex-end;
  .cancel {
    background-color: #fff;
    border: 1px solid #ffb300;
    color: #FFB300;
    font-size: 16px;
  }
  .next {
    margin-left: 10px;
    background-color: #FFB300;
    border: none;
    font-size: 16px;
  }
}
.mockup-image-l {
  width: 100%;
  padding-top: 75%;
  background-color: #e1e1e1;
}
.more-image-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 10px;
  height: 100px;
  width: 100%;
  .mockup-image {
    width: 31.5%;
    padding-top: 25%;
    background-color: #e1e1e1;
  }
}
</style>
