<template>
  <div id="baseHeader">
    <!-- <div class="mobile-overlay" :class="{ 'is-active': mobileSidebarVisible }" /> -->
    <div class="navbar" borderless fixed>
      <base-container style="display: flex;">
        <a class="item dp-none-md-min mobile-content content-bg" @click="toggleSidebar" />
        <nuxt-link
          class="item logo-title"
          to="/"
          style="font-size: 24px; font-weight: 500;"
        >
          เหมาเหมา
        </nuxt-link>
        <nuxt-link class="dp-none-md-min item right menu" to="/account">
          <img class="w-16px" src="../assets/icons/user.svg" alt="user-account">
        </nuxt-link>
        <div position="right" class="dp-none-max-md menu">
          <div class="nav-item-list">
            <nuxt-link
              v-for="(item, index) in menu"
              :key="index"
              class="item nav-item"
              :class="{
                'is-active': isSubRoute(item.name),
                'disabled': item.label === 'ช่วยเหลือ'
              }"
              :to="item.link || '/'"
            >
              {{ item.label }}
            </nuxt-link>
          </div>
          <nuxt-link class="item" to="/faq">
            <img class="w-16px" src="../assets/icons/question-circle.svg" alt="question">
          </nuxt-link>
          <nuxt-link class="item" to="/account">
            <img class="w-16px" src="../assets/icons/user.svg" alt="user-account">
          </nuxt-link>
        </div>
      </base-container>
    </div>
    <a-drawer
      wrap-class-name="mobile-sidebar"
      :visible="mobileSidebarVisible"
      :closable="false"
      placement="left"
      @close="toggleOutside"
    >
      <nuxt-link
        v-for="(item, index) in menu"
        :key="index"
        class="drawer-item"
        :class="{
          'is-active': isSubRoute(item.name),
          'disabled': item.label === 'ช่วยเหลือ'
        }"
        :to="item.link || '/'"
        @click.native="onClickMenu"
      >
        {{ item.label }}
      </nuxt-link>
    </a-drawer>
  </div>
</template>

<script>
export default {
  name: 'BaseHeader',
  data () {
    return {
      menu: [
        {
          name: 'auction',
          label: 'เสนอราคา/ขายสินค้า',
          link: '/auction'
        },
        {
          name: 'farm',
          label: 'รายชื่อฟาร์ม',
          link: '/farm'
        },
        {
          name: 'employment',
          label: 'จ้างงาน',
          link: '/employment'
        },
        {
          name: 'payment',
          label: 'แจ้งโอน',
          link: '/payment'
        },
        {
          name: 'report',
          label: 'ช่วยเหลือ',
          link: '/report'
        }
      ],
      mobileSidebarVisible: false
    }
  },
  methods: {
    isSubRoute (name) {
      return this.$route.name && this.$route.name.search(name) === 0
    },
    toggleSidebar () {
      this.mobileSidebarVisible = true
    },
    toggleOutside (event) {
      const isMobileContent = event.target.classList.value.includes('mobile-content')
      if (!isMobileContent) { this.mobileSidebarVisible = false }
    },
    onClickMenu () {
      this.mobileSidebarVisible = false
    }
  }
}
</script>

<style lang="less" scoped>
.content-bg {
  width: 50px;
  background-image: url('../assets/icons/content.svg') !important;
  background-color: unset !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.navbar {
  height: 70px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  background: white;
  position: fixed;
  z-index: 101;
  width: 100%;
  top: 0;
  left: 0;
  right: auto;
  left: auto;
  display: flex;

  @media only screen and (max-width: 767px) {
    .ui.container {
      width: 100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;

    }
  }

}
.nav {
  &-item {
    color: rgba(158, 158, 158, 1) !important;
    &-list {
      display: flex;
      margin-right: 75px;
    }
    &.is-active{
      color: rgba(255, 147, 0, 1) !important;
    }
  }
}
.dp-none-md-min {
  @media only screen and (min-width: 992px) {
    display: none !important;
  }
}
.dp-none-max-md {
  @media only screen and (max-width: 991px) {
    display: none !important;
  }
}
.logo-title {
  color: rgba(255, 147, 0, 1) !important;
  @media only screen and (max-width: 991px) {
    position: absolute !important;
    left: 50%;
    margin-left: -75px;
  }
}
.mobile-sidebar {
  z-index: 1024 !important;
  .drawer-item {
    padding: .92857143em 1.14285714em;
    line-height: 1;
    position: relative;
    display: block;
  }
}
.mobile-overlay {
  visibility: hidden;
  transition: background 0.5s ease-out;
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  background: unset;
  width: 100%;
  left: 0;
  &.is-active {
    visibility: visible;
    z-index: 1023;
    background: rgba(0, 0, 0, 0.4);
  }
}
.w-16px {
  width: 16px !important;
}
a {
  font-weight: 500 !important;
}
.f-w-bold {
  font-weight: bold !important;
}

.menu {
  display: flex;
  margin-left: auto !important;
  margin: 0;
  align-items: center;
  .item {
    padding: .92857143em 1.14285714em;
    line-height: 1;
    vertical-align: middle;
    position: relative;
    flex: 0 0 auto;
  }
  .right {
    margin-left: auto!important;
  }
}
.item {
  padding: .92857143em 1.14285714em;
  line-height: 1;
  vertical-align: middle;
  position: relative;
}

.disabled {
  color: lightgrey !important;
  pointer-events: none;
}
</style>
