<template>
  <account-container title="ข้อมูลทั่วไป">
    <farm-form
      :fruit-type-list="fruitTypes"
      :fruit-breeds-list="fruitBreeds"
      :standard-list="farmStandards"
      :province-list="provinceList"
      :district-list="filterDistricts"
      :sub-district-list="filterSubDistricts"
      :postal-code-list="filterPostalCodes"
      :upload-media-list="uploadMediaList"
      :farm-name.sync="farmData.name"
      :fruit-type-id.sync="fruitType"
      :fruit-breed-id.sync="farmData.fruitBreedId"
      :num-area.sync="farmData.numArea"
      :num-tree.sync="farmData.numTree"
      :farm-standard-id.sync="farmData.farmStandardId"
      :address.sync="farmData.address"
      :road.sync="farmData.road"
      :province-id.sync="farmData.provinceId"
      :district-id.sync="farmData.districtId"
      :postal-code-id.sync="farmData.postalCodeId"
      :sub-district-id.sync="farmData.subDistrictId"
      :phone-number.sync="farmData.phoneNumber"
      :before-upload="onBeforeUpload"
      :remove-upload="onRemoveUpload"
      @changeFruitType="onChangeFruitType"
      @changeAddress="onChangeAddress"
      @changeFarmMedia="onChangeFarmMedia"
      @submit="submitUpdateFarm"
    />
  </account-container>
</template>

<script>
import { call, get } from 'vuex-pathify'
import { mapWaitingActions } from 'vue-wait'

import provinceList from '~/configs/address/provinces.json'
import districtList from '~/configs/address/districts.json'
import subDistrictList from '~/configs/address/subdistricts.json'
import postalCodeList from '~/configs/address/postal_codes.json'

import AccountContainer from '~/components/account/AccountContainer.vue'
import FarmForm from '~/components/account/FarmForm.vue'

const mapFirst = arr => arr[0]

export default {
  name: 'AccountFarmUpdatePage',
  layout: 'account',
  middleware: 'authenticated',
  components: {
    AccountContainer,
    FarmForm
  },
  computed: {
    fruitTypes: get('auction/fruitTypes'),
    farmStandards: get('auction/farmStandards'),
    farmDataById: get('auction/farmData'),
    filterDistricts () {
      return districtList.filter(value => value.provinceId === this.farmData.provinceId)
    },
    filterSubDistricts () {
      return subDistrictList.filter(value => value.districtId === this.farmData.districtId)
    },
    filterPostalCodes () {
      const findSubDistrict = subDistrictList.find(value => value.id === this.farmData.subDistrictId)
      return findSubDistrict ? postalCodeList.filter(value => value.districtCode === findSubDistrict.code) : []
    },
    isFruitTypeSelected () {
      return Boolean(this.fruitType)
    },
    fruitBreeds () {
      const fruitTypeCb = (fruitType1, fruitType2) => fruitType1 === fruitType2
      const findFruitType = this.fruitTypes.find(value => fruitTypeCb(value.id, this.fruitType))
      return findFruitType ? findFruitType.fruitBreeds : []
    },
    filterFarmStandardId () {
      const id = this.farmStandards.find((i) => {
        return i.name === this.farmDataById.farmStandard
      }).id
      return id
    }
  },
  data () {
    return {
      id: this.$route.params.id,
      fruitType: undefined,
      provinceList,
      uploadMediaList: [],
      removeMediaIds: [],
      farmMediaList: [],
      farmData: {}
    }
  },
  methods: {
    ...call('auction', [
      'updateUserFarm',
      'removeUserFarmMedia',
      'createUserFarmMedia'
    ]),
    ...mapWaitingActions('auction', {
      updateUserFarm: 'base loading',
      removeUserFarmMedia: 'base loading',
      createUserFarmMedia: 'base loading'
    }),
    onChangeFruitType (value) {
      this.fruitType = value
      this.farmData.fruitBreedId = mapFirst(this.fruitBreeds).id
    },
    onChangeAddress (type, value) {
      switch (type) {
        case 'province':
          this.farmData.provinceId = value
          this.farmData.districtId = mapFirst(this.filterDistricts).id
          this.farmData.subDistrictId = mapFirst(this.filterSubDistricts).id
          this.farmData.postalCodeId = mapFirst(this.filterPostalCodes).id
          break
        case 'district':
          this.farmData.districtId = value
          this.farmData.subDistrictId = mapFirst(this.filterSubDistricts).id
          this.farmData.postalCodeId = mapFirst(this.filterPostalCodes).id
          break
        case 'subDistrict':
          this.farmData.subDistrictId = value
          this.farmData.postalCodeId = mapFirst(this.filterPostalCodes).id
          break
        case 'postalCode':
          this.farmData.postalCodeId = value
          break
      }
    },
    onChangeFruitBreed (value) {
      this.farmData.fruitBreedId = value
    },
    onChangeFarmMedia ({ fileList }) {
      this.uploadMediaList = fileList
    },
    onBeforeUpload (file) {
      this.farmMediaList.push(file)
    },
    onRemoveUpload (file) {
      if (file.mediaId) {
        this.removeMediaIds.push(file.mediaId)
      }
    },
    backToAccountFarm () {
      this.$router.push('/account/farm')
    },
    transformMediaFormData (image) {
      const formData = new FormData()
      formData.append('image', image)
      return formData
    },
    requestUploadMedia (id, mediaList) {
      return mediaList.map(
        media => Promise.resolve(
          this.createUserFarmMedia({ id, formData: this.transformMediaFormData(media) })
        )
      )
    },
    requestRemoveMedia (id, removeIds) {
      return removeIds.map(
        mediaId => Promise.resolve(
          this.removeUserFarmMedia({ id, mediaId })
        )
      )
    },
    async submitUpdateFarm () {
      const hasFarmMedia = this.farmMediaList.length > 0
      const hasRemoveMedia = this.removeMediaIds.length > 0
      try {
        const promises = []
        promises.push(this.updateUserFarm({ id: this.id, formData: this.farmData }))
        if (hasFarmMedia) { promises.push(...this.requestUploadMedia(this.id, this.farmMediaList)) }
        if (hasRemoveMedia) { promises.push(...this.requestRemoveMedia(this.id, this.removeMediaIds)) }
        await Promise.all(promises)

        this.$notification.success({
          message: 'Success',
          description: 'คุณได้แก้ไขฟาร์มสำเร็จแล้ว'
        })
        this.backToAccountFarm()
      } catch (error) {
        this.$notification.error({
          message: 'Error',
          description: error.response.data
        })
      }
    }
  },
  async fetch ({ store, params: { id } }) {
    try {
      await Promise.all([
        store.dispatch('auction/fetchFruitTypes'),
        store.dispatch('auction/fetchFarmStandards'),
        store.dispatch('auction/fetchFarmById', id)
      ])
    } catch (e) {

    }
  },
  mounted () {
    this.farmData = this.farmDataById
    const findFruitType = this.fruitTypes.find(type => type.name === this.farmData.fruitType)
    if (findFruitType) {
      this.fruitType = findFruitType.id
      this.farmData.fruitBreedId = findFruitType.fruitBreeds.find(fruitBreed => fruitBreed.fruitType === this.fruitType).id
    }
    this.farmData.farmStandardId = this.filterFarmStandardId
    console.log(this.farmData)
    this.uploadMediaList = this.farmData.medias.map((media) => {
      const splitPath = media.path.split('/')
      return {
        mediaId: media.id,
        uid: media.id,
        name: splitPath[splitPath.length - 1],
        status: 'done',
        url: media.path
      }
    })
  }
}
</script>
